.records {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px var(--shadow-color);
  margin-top: 20px;
  position: relative;
  user-select: none;
  text-align: left;
}

.records th {
  height: 50px;
  background-color: var(--primary-color);
  padding-left: 20px;
  font-size: 1.2rem;
}
.records td {
  height: 50px;
  padding-left: 20px;
}

.records th:last-child,
.records td:last-child {
  padding: 0;
  min-width: 140px;
  text-align: center;
}

.records tr:hover {
  background-color: var(--secundary-color);
}

@media (max-width: 780px) {
  .records {
    border-spacing: 5px;
    width: 100px;
  }

  .records th {
    padding: 0;
    min-width: 100px;
    text-align: center;
  }

  .records td {
    padding: 0;
    min-width: 100px;
    text-align: center;
    gap: 10px;
  }

  #cadastrarCliente {
    width: 40%;
    margin-top: 20px;
    border-radius: 5px;
  }
}

@media (max-width: 580px) {
  .records {
    min-width: 80px;
    border-spacing: 5px;
  }
  .records tr {
    box-shadow: 0 1px 3px var(--shadow-color);
  }
  .records th {
    display: none;
  }
  .records td {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    gap: 10px;
  }
  .records td:not(:first-child) {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .records {
    border-spacing: 5px;
  }
  .records thead {
    display: none;
  }
  .records tr {
    box-shadow: 0 1px 3px var(--shadow-color);
  }
  .records td:not(:first-child) {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .records td {
    margin: 10px 0;
  }

  .records tr:hover {
    background-color: inherit;
  }
}
